fastapi
uvicorn[standard]
Pillow>=9.0.0
python-multipart
numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
peft
rich
wandb
lightning==2.5.0 
transformers==4.50.0
tqdm==4.67.1
timm==1.0.14
pydantic==2.9.2